* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--preto);
  
}

:root {
  --branco: #fff;
  --verde: #01b574;
  --cinza: #8f8f8f;
  --rosa: #cf4b83;
  --verdeclaro: rgba(1, 181, 116, 0.1);
  --preto: #1f1f1f;
  --cpreto: #252525;
  --cverde: #01b574;
  --font1: "Tajawal", sans-serif;
  --background-menu: #1f1f1f;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  /* width: 100vh; */
  height: 1555px;
  width: 100%;
}

.geral {
  /* margin-left: 10%; */

  background-color: var(--branco);
  width: 100%;
  height: 100%;
}

.grid {
  margin-left: 15%;
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 50px;
  gap: 25px;
}

.graph {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.Month {
  background-image: url(../zimg/gif5.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.Donutleft {
  /* border-radius: 25px; */
  background-image: url(../zimg/donut2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Barsright {
  background-image: url(../zimg/colunaagrupadaanim_AdobeExpress.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Barsleft {
  background-image: url(../zimg/bars.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-row-start: 3;
  grid-row-end: 4;
}

.Donutright {
  background-image: url(../zimg/donut2.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sacsbutton2 {
  display: none;
}

.lista a:nth-child(2) {
  background-color: var(--verde);
}

@media screen and (max-width: 680px) {
  .mobilehead {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .sacsbutton2 {
    display: flex;
    margin: 25px;
    font-size: 25px;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .fa-solid {
    color: var(--verde);
  }

  .sacsbutton2 span {
    margin-left: 10px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 5px;
    width: 100%;
    margin-left: 0px;
  }

  .graph {
    margin-left: 20px;
    margin-right: 20px;
  }

  .Month {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .Donutleft {
    background-size: 50%;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .Barsright {
    background-size: 50%;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .Barsleft {
    background-size: 50%;
    grid-row-start: auto;
    grid-row-end: auto;
  }

  .Donutright {
    background-size: 50%;
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: auto;
    grid-row-end: auto;
  }
}

header {
  width: 100%;
}

/* --------------------------------------------------------------------------------------------- */

.menu {
  position: fixed;
  width: 15%;
}

.menu_lateral {
  background-color: var(--background-menu);
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.btn_expandir {
  width: 100%;
  padding-left: 10%;
  color: var(--branco);
  cursor: pointer;
}

.menu_conteudo {
  padding-top: 30%;
}

li a {
  padding: 5% 0 5% 5%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--branco);
  text-decoration: none;
  padding-left: 8%;
}

.menu_conteudo ul {
  height: 80vh;
  width: 100%;
  list-style-type: none;
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_menu {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primeiros_itens,
.segundos_itens,
.terceiros_itens {
  margin-bottom: 40%;
}

.txt_link {
  color: var(--branco);
  margin-left: 2%;
  position: fixed;
}

hr {
  width: 90%;
}

.pagAtual {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: var(--verde);
  width: 80%;
  margin-left: 5%;
}

.espaco2 {
  margin-top: 10%;
}

.equipamentos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.painelEqpm {
  width: 95%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
}

.size1 {
  color: var(--branco);
  font-size: 90%;
}

.size2 {
  color: var(--branco);
  font-size: 150%;
}

.bi {
  color: var(--branco);
}

/* --------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1300px) {
  .size1 {
    font-size: 85%;
  }

  .size2 {
    font-size: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .size1 {
    font-size: 75%;
  }

  .size2 {
    font-size: 100%;
  }
}

@media screen and (max-width: 990px) {
  .size1 {
    font-size: 68%;
  }

  .size2 {
    font-size: 100%;
  }
}

@media screen and (max-width: 890px) {
  .size1 {
    font-size: 58%;
  }

  .size2 {
    font-size: 90%;
  }
}

@media screen and (max-width: 780px) {
  .size1 {
    font-size: 49%;
  }

  .size2 {
    font-size: 85%;
  }
}

@media screen and (max-width: 680px) {
  .geral {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    height: 90%;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0;
  }

  .menu_lateral {
    padding: 0;
    /* height: 10vh; */
    width: 100%;
    border-radius: 25px 25px 0 0;
  }

  .menu_conteudo {
    align-items: center;
    padding: 0;
    width: 100%;
    /* height: 10vh; */
  }

  .menu_conteudo ul {
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 10vh; */
  }

  .item_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
  }

  .item_menu a {
    padding-left: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    padding: 0;
  }

  .pagAtual {
    margin-left: 0;
    background-color: transparent;
  }

  .IconAtual {
    color: var(--verde);
  }

  .btnSair {
    display: none;
  }

  .btn_expandir {
    display: none;
  }

  .size1 {
    font-size: 55%;
  }

  .size2 {
    font-size: 80%;
  }

  .txt_link {
    display: none;
  }

  hr {
    display: none;
  }

  .espaco2 {
    margin-top: 0;
    width: 20%;
  }

  .painelEqpm {
    height: 85%;
    margin-top: -10%;
  }
}

@media screen and (max-width: 420px) {
  .painelEqpm {
    margin-top: -15%;
  }
}

@media screen and (max-width: 325px) {
  .painelEqpm {
    margin-top: -20%;
  }
}
